<table align=center cellspacing=0 cellpadding=0>
<tr>
  <td align=center><h2>Editar Cuenta de <%= @user.username %></h2></td>
</tr>
<tr>
  <td><%= render 'devise/shared/usr_form_e' %></tr>
</tr>
</table>
