<table cellspacing=0 cellpadding=0 align=center>
<tr>
  <td align=center><h2>Registrarse</h2></td>
</tr>
<tr>
  <td>
  <%= devise_error_messages! %>
  <%= render 'devise/shared/usr_form' %>
  </td>
</tr>
</table>
