a:link, a:visited {
  font-family: Helvetica;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1px;
  text-decoration: none;
  color: #196084;
}

a:hover, a:active {
  text-decoration: underline;
}

body {
  background-image: url(../images/background.png);
  background-color: #45b4d9;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  background-repeat: repeat-x;
}

.website {
  border: 3px solid white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}

#main {
  background-color: rgba(255,255,130,.4);
  overflow: auto;
  width: 991px;
  margin: -20px auto -20px auto;
  -moz-box-shadow: 0 0 10px 10px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 20px rgba(0,0,0,0.4);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.4);
}

/*HEADER*/
#header {
  width:857px;
  height:100px;
  background-color: rgba(255, 255, 255, 0.7);
  margin:25px auto 15px auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

img.header#logo {
  background-color: transparent;
}

/* MENU */
#menu {
  text-align: center;
  width: 851px;
  height: 20px;
  margin: 0px auto 15px auto;
  padding-top: 2px;
  background-color: rgba(255,255,255,.7);
}

/* CONTENIDO */
#content {
  float: left;
  width: 830px;
  margin: 0px 0px 10px 67px;
  background-color: rgba(255,255,255,.7);
  padding: 10px 10px 20px 10px;
}

#extras {
  float: right;
  width: 200px;
  margin: 0px 68px 20px 0px;
  background-color: rgba(255,255,255,.7);
  padding-left: 10px;
}

#footer {
  overflow: auto;
  text-align: center;
  font-size: 10px;
  width: 831px;
  margin: 0px auto 10px auto;
}

h1, h2 {
  text-align: center;
}

td.justify {
  text-align: justify;
}

table {
  padding: 0;
  border-spacing: 0;
}

/* Format Table for Lists */

.lists table {
  background-color: white;
  width:90%;
  border-top:1px solid #e5eff8;
  border-right:1px solid #e5eff8;
  margin: auto;
  border-collapse:collapse;
}

.lists tr.odd td {
  background:#f7fbff;
}

.lists tr.odd .column1	{
  background:#f4f9fe;
}	

.lists tr.keys {
  background: #ccffcc;
}

.lists tr.keys th {
  text-align: center;
  font-weight: bold;
}

.lists .column1 {
  background:#f9fcfe;
  text-align: left;
}

.lists td {
  color:#678197;
  border-bottom:1px solid #e5eff8;
  border-left:1px solid #e5eff8;
  padding:.3em 1em;
  text-align:center;				
}

.lists th {
  font-weight:normal;
  color: #678197;
  text-align:left;
  border-bottom: 1px solid #e5eff8;
  border-left:1px solid #e5eff8;
  padding:.3em 1em;
}							

.lists thead th {
  background:#77BB77;
  text-align:center;
  font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
  color:white;
}	

.lists tfoot th {
  text-align:center;
  background:#f4f9fe;
}	

.lists tfoot th strong {
  font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
  margin:.5em .5em .5em 0;
  color:#66a3d3;
}		

.lists tfoot th em {
  color:#f03b58;
  font-weight: bold;
  font-size: 1.1em;
  font-style: normal;
}	
