<%= flash[:error] %>
<h1>Bienvenidos</h1><br/>
Bienvenidos al sitio de Aguilas Guadalupanas Monterrey, desde donde podrás acceder a las actividades que realizamos, reportes de eventos y sitios de interés.<br/><br/>
Nuestra misión es formar un México de jóvenes comprometidos con la vivencia de sus valores.
Desde 2004 nos enfocamos a promover los Valores entre los niños y jóvenes de nuestra ciudad a través de pláticas, conferencias, talleres y dinámicas en las escuelas y colegios de Primaria, Secundaria y Preparatoria.
Para lograr lo anterior, nuestro esfuerzo se soporta en la labor de los estudiantes universitarios, quienes a través del desarrollo de su Servicio Social Comunitario llevan a cabo las actividades antes indicadas.
<br/><br/>
! Bienvenidos ! 
<br/><br/>
Aguilas Guadalupanas Monterrey<br/>
(81) 8378 6982<br/>
<a href="mailto:aguilasguadalupanasmty@yahoo.com.mx">aguilasguadalupanasmty@yahoo.com.mx</a>
