<h1>Proyectos</h1>
<% if can? :new, Project %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to image_tag("new.png", :border => 0), new_project_path %>
  <%= link_to 'Nuevo Proyecto', new_project_path %>
<% end %>

<div class="lists">
  <table>
    <thead>
    <tr class="odd">
      <th colspan=6>Proyectos Actuales</th>
    </tr>
    </thead>
  <% if !@projects.empty? %>
    <tr class="keys">
      <th>Nombre</th>
      <th>Fecha Inicio</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @odd = false %>
    <%= render(@projects) %>
  <% else %>
    <tr>
      <td align=center><i>No hay proyectos actuales</i></td>
    </tr>
  <% end %>
  </table>
</div>
<br/>

<% if can? :new, Project %>
<br/>
<div class="lists">
  <table>
    <thead>
    <tr>
      <th colspan=5>Proyectos Finalizados</th>
    </tr>
    </thead>
  <% if !@projects_fin.empty? %>
      <tr class="keys">
        <th>Nombre</th>
        <th>Fecha Inicio</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <% @odd = false %>
    <%= render(@projects_fin) %>
  <% else %>
    <tr>
      <td align=center><i>No hay proyectos finalizados</i></td>
    </tr>
  <% end %>
  </table>
</div>
<br/>
<% end %>
