<%= link_to "<< Volver a listado de Actividades", project_activities_path %>
<br/>

<table width=85% align=center>
<tr>
  <td><h1>Editar Actividad</h1></td>
</tr>
<tr>
  <td>
    <%= render 'form' %>
  </td>
</tr>
</table>
