<%= link_to "<< VOLVER AL LISTADO DE ACTIVIDADES", project_activities_path %>
<br/>
<table cellspacing=0 cellpadding=0 align=center width=85%>
<tr>
  <td><h2>Nueva Actividad</h2></td>
</tr>
<tr>
  <td>
    <%= render 'form' %>
  </td>
</tr>
</table>
